.pagination-invisible {
  visibility: hidden;
}
body {
  background-color: #000;
  color: #fff;
}

.boutique {
  background-image: url("./img/Store.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.accueil {
  background-image: url("./img/Accueil.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-header {
  background-color: #280033;
  height: 150px;
}

.logo {
  height: 80px;
}

.site-header .nav-link,
.site-header h1 {
  color: #fff;
}

.card-compact {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.card-compact .card-body {
  padding: 0.75rem;
}

.card-compact .card-title {
  font-size: 1.15rem;
}

.card-compact .card-subtitle {
  font-size: 0.85rem;
  display: block;
}

.card-compact .card-img-top.card-compact-img {
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.card-compact .list-group-item {
  background-color: #000;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
}

.card-compact a.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

.card-compact .badge {
  color: #000;
  margin-top: 0.7rem;
}

.form-control.form-card,
.form-select.form-card {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.form-control.form-card:focus,
.form-select.form-card:focus {
  outline: none;
  box-shadow: none;
}

.form-card::placeholder {
  color: gray;
  opacity: 1;
}

.form-check-input.form-card-checkbox {
  background-color: #000;
  box-shadow: none;
  border: 1px solid #fff;
  width: 22px;
  height: 22px;
  margin-top: 0.15rem;
}

.equip-card-display .col-md-4 {
  width: 320px;
}

#select-equipement {
  width: 300px;
}

/* Animation pour l'invocation */
.card-invoc { 
  opacity: 0; 
  transition: opacity 0.5s;
}

.card-invoc .info { 
  opacity: 0; 
  transition: opacity 0.5s 0.3s;
}

.card-invoc.active { 
  opacity: 1; 
}

.card-invoc.active .info { 
  opacity: 1; 
}
